* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-size: 1.2vh;
}

.ui {
    display: block;
    z-index: -1000 !important;
    opacity: 0;
    pointer-events: none;
}

.ui.active {
    z-index: 0 !important;
    opacity: 1;
    pointer-events: all;
}


.details {
    padding: 10px 15px;
    font-size: 2vh;
    display: block;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
}

.details__header {
    margin-top: 20px;
}

.details__line {
    display: block;
}

.player-info {
    height: calc(20vh - 10px);
    border-bottom: 1px solid #000;
}

.view-info {
    height: 30vh;
    border-bottom: 1px solid #000;
}

.message-console {
    position: relative;
    height: calc(50vh - 10px);
}

.messages__wrap {
    position: absolute;
    opacity: 1;
    padding: 15px 5px 5px;
    width: 100%;
    height: 100%;
}

.messages {
    display:flex;
    flex-direction:column-reverse;
    height: 100%;
    overflow-y: scroll;
}


.messages__inn {

}

.message {
    font-size: 1.66vh;
}

.message__text {

}

.message__bold {
    font-weight: bold;
}

.message__italics {
    font-style: italic;
}

.message__amount {
    margin-left: 1em;
}


.player-health {
    position: relative;
    width: 100%;
    height: 2vh;
    background-color: #000;
}

.player-health__fg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #8B0000;
}

.player-health__text {
    display: table;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.8vh;
    color: #fff;
    margin: 0 auto;
}

.player-stat {
    display: inline-block;
    float: left;
    width: 50%;
}

.hero-info {
    display: inline-block;
    position: absolute;
    left: 30%;
    width: 15%;
}


.inventory {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 80%;
    transform: translateX(100%);
    transition: transform 1s ease;
    background: #fff;
    padding: 15px;
}

.inventory.active {
    transform: translateX(0);
}

.inventory__equipment {
    width: 100%;
    height: 55%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    background-color: #333;
    grid-gap: 0.2vw;
    padding: 1vh 7.5vh
}

.inventory__storage-wrap {
    width: 100%;
    height: 40%;
    background-color: #333;
    position: relative;
    overflow-y: auto;
}

.inventory__storage {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-gap: 0.2vw;
    padding: 0.2vw;
}

.inventory__storage-title {
    grid-column: span 10;
    padding: 5px;
    background-color: #ccc;
    font-size: 1.8vh;
}

.slot {
    background-color: gray;
    text-align: center;
    border-radius: 5px;
    position: relative;
    font-family: helvetica, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory__equipment-slot .item {
    font-size: 7.5vh;
}

.inventory__equipment-slot:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 7.5vh;
    opacity: 0.15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory__equipment-slot.has-item:before {
    display: none;
}

.inventory__equipment-slot[data-index="0"]:before {
    content: "⌈";
}

.inventory__equipment-slot[data-index="1"]:before {
    content: "∩";
}

.inventory__equipment-slot[data-index="2"]:before {
    content: "ᴕ";
}

.inventory__equipment-slot[data-index="3"]:before {
    content: "†";
    transform: rotate(180deg);
}

.inventory__equipment-slot[data-index="4"]:before {
    content: "☗";
}

.inventory__equipment-slot[data-index="5"]:before {
    content: "●";
}

.inventory__equipment-slot[data-index="6"]:before,
.inventory__equipment-slot[data-index="8"]:before {
    content: "○";
}

.inventory__equipment-slot[data-index="7"]:before {
    content: "-";
}

.inventory__equipment-slot[data-index="9"]:before {
    content: "ひ";
}

.inventory__equipment-slot[data-index="10"]:before {
    content: "◫";
}
.inventory__equipment-slot[data-index="11"]:before {
    content: "″";
}

.inventory__storage-slot {
    height: 5.3vh;
}

.slot.has-item:hover {
    cursor: pointer;
    background-color: #999;
}

.slot.disabled {
    background-color: #845b5b;
}

.slot.dragging .item {
    display: none;
}